/target/
/dist/
/node_modules/
/.venv/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.coverage
/coverage.xml
/htmlcov/
/.benchmarks/
*.prof
*.profraw
*.profdata
__pycache__/
*.py[cod]
*.so
*.dylib
*.dll
*.pyd
.DS_Store
.idea/
.vscode/
*.mmdb
!tests/data/test-data/*.mmdb
